<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>
			{% block title %} COTIZACION SYS {% endblock %}
		</title>
		
			{% block stylesheets %}
				<!-- Hojas de estilos -->
			{% endblock %}
			
			{% block javascripts %}
				<!-- Hojas de estilos -->
			{% endblock %}
	</head>
	<body>
		<header>
			<h1>COTIZACIONES</h1>
		</header>
		<section id="content">
			{% block content %}
				Content default
			{% endblock %}
		</section>
		<footer>
			<hr/>
			<p>Desarrollado por Francisco Morales S.</p>
		</footer>
	</body>
	
</html>

